{% extends "layout.html" %}
{% block body %}


<div class="card">

    <div class="card-header">
        Project : {{ channel.name }}
    </div>
    <div class="card-body">
        <label>Sentry Webhook</label>
        <div class="input-group">
            <div id="webhook-clipboard" class="form-control"
            >{{ url }}webhook/{{ channel.id }}
            </div>
            <div class="input-group-append">
                <button type="button" class="btn btn-info copyButton btn-clipboard"
                        data-id="@item.Type"
                        data-clipboard-action="copy"
                        data-clipboard-target="#webhook-clipboard">Copy
                </button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <label>Edit</label>
        <form action="/edit/{{ channel.id }}" method="post">
            <div class="form-group">
                <label for="name">Project Name</label>
                <input style="margin-bottom:5px" type="text" class="form-control" name="name"
                       id="name"
                       value="{{ channel.name }}"
                       placeholder="Enter Name...">
                <label for="webhook">Discord Webhook</label>
                <textarea name="webhook" id="webhook" class="form-control"
                          placeholder="Enter Webhook...">{{ channel.webhook }}</textarea>
                <button type="submit" class="btn mt-2 btn-success">Edit</button>
            </div>
            <hr>
        </form>
    </div>
</div>


<script>
        var clipboard = new Clipboard('.copyButton');

        clipboard.on('success', function(e) {
            $(".copyButton").text("Copied!");
        });

        clipboard.on('error', function(e) {
        console.log(e);
        });
</script>

{% endblock %}